@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700;900&display=swap');

/* https://color.adobe.com/create/color-wheel */
:root{
  --theme-one:slateblue;
  --about-1:#7CB2DF
  --about-2:#AD87DE
  --about-3:#DE9992
  --about-4:#DE9A66
  --about-5:#DEDB68
  --about-6:#71DEA2
}


*{
  /* border:1px solid slateblue; */
  margin:0;
  font-family: 'Kumbh Sans', sans-serif;
}
html{
  overflow-x: hidden;
  font-size:1rem;
  scroll-behavior: smooth;
}
body{
  /* background-color:rgb(19, 19, 19); */
  background-color:#f7f8fc;
  transition:background-color 1s;
  transition:color 1s
}
.dark-body{
  background-color:#080C17;
  color:white;
}
  


.go-up{
  position:fixed;
  top:85%;
  left:85vw;
  border:3px solid white;
  /* border:none; */
  background-color:white;
  opacity: 95%;
  border-radius:50%;
  user-select:none;
  color:white;
  cursor:pointer;
  width:70px;
  height:70px;
  overflow:hidden;
}
.go-up:hover{
  opacity:85%;
}
.go-up:active{
  opacity:95%;
}
.sun-icon, .moon-icon{
  position:relative;
  transform:translateY(50%);
  top:4%;
  height:52px;
  width:52px;
  color:slateblue;
  /* animation:sun-moon .3s linear forwards; */
  animation:moon-sun .3s linear forwards;
}
.sun-icon{
  color:#ffbb52;
  /* animation:sun-moon .3s linear forwards; */
  animation:moon-sun .3s linear forwards;  
}
.moon-sun{
  animation:moon-sun .3s linear forwards;  
}
.sun-moon{
  animation:sun-moon .3s linear forwards;
}
  @keyframes sun-moon{
    from{
      top:7%
    }
    to{
      opacity:100%;
      top:-85%;
    }
  }
  @keyframes moon-sun{
    from{
      top:-85%
    }
    to{
      opacity:100%;
      top:7%;
    }
  }

.sun-icon:hover{
  opacity:100%;
}
.body{
  height:auto;
}
nav{
  height:5vh;
  position:sticky;
  top:0;
  z-index: 999;
  border-bottom-left-radius:40px 10%;
  border-bottom-right-radius:40px 10%;
  background:white;
}
.page-controls{
  outline:2px solid crimson;

  width:auto;
  /* height:5vh; */
  position:relative;
  right:50%;
  z-index:2;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  /* overflow:hidden; */
}
li{
  width:fit-content;
  float:left;
}
.nav-name{
  position:fixed;
  left:5%;
  background-color:orange;
  /* top:2%; */
}
.nav-name:hover{
  /* transform:translateY(5%) */
}
.nav-controls{
  position:relative;
  left:60vw;
}
.nav-butt{
  position:relative;
  top:50%;
  transform:translateY(50%);
  background:none;
  border:none;
  margin-left:2vw;
  font-size:1rem;
  /* text-decoration:underline; */
}
.nav-butt:hover{
  cursor:pointer;
  transform:translateY(45%);
  opacity:70%;
}
.nav-butt:active{
  transform:translateY(50%)
}
.nav-butt::before{
  content: '';
  position: absolute;
  width:100%;
  height:5px;
  border-radius:4px;
  background-color:#84c2ff;
  bottom: 0;
  left: 0; 
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;
}

/* .nav-butt:hover::before { */
.selected:before{
  transform-origin: left;
  transform: scaleX(1);
}


/* 
HEADER + THREE
*/
.header-content{
  height:50vh
}
.header-container{
  position:absolute;
  z-index:2;
  width:20vw;
  /* top:20%; */
  top:15%;
  left:10%;
  animation:header-drop .71s linear forwards;
}
@keyframes header-drop{
  from{
    opacity:0%;
    top:15%;
  }
  to{
    opacity:100%;
    top:20%;
  }
}

.header-name{
  font-size:clamp(2rem, 7vw, 3rem);
  position:relative;
  /* top:20%; */
  /* left:10%; */
}
.header-tag{
  /* top:35%; */
  /* left:10%; */
  font-size:clamp(0.6rem, 3vw, 1.2rem);
}
canvas{
  height:100%;
  width:90vw;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border: 3px solid var(--theme-one);
  border-radius:80px;
  /* border-bottom-left-radius:300px 1000%; */
  /* border-bottom-right-radius:300px 1000%; */
}
canvas:hover{
  cursor:grab;
}
canvas:active{
  cursor:grabbing;
}



/* 
ABOUT 
*/
.about, .projects,.skills{
  margin-top:10vh;
}
.about, .skills{
  min-height:80vh;
  height:auto;
}
.about-title{
  position:relative;
  display:flex;
  justify-content: center;
  font-size:clamp(1.6rem, 7vw, 2.2rem);
}
.about-me, .my-skills,.my-projects{
  /* opacity:0%; */
  position:relative;
  /* outline: 3px solid red; */
  /* height:80%; */
  height:fit-content;
  width:90%;
  left:50%;
  transform:translateX(-50%);
  overflow:hidden;
  padding-bottom:30px;
  padding-top:30px;
  /* margin-bottom:5vh; */
}
.underline{
  border:0.15em solid #84c2ff;
  border-radius:10px;
  width:9vw;
  height:0;
  position:relative;
  left:50%;
  transform:translateX(-50%)
}

.about-grid{
  position:relative;
  margin-top:10vh;
  left:50%;
  transform:translateX(-50%);
  width:80vw;
  height:fit-content;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 9vh 0px; 
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  grid-template-areas: 
    "about1 about2 about3"
    "about4 about5 about6"; 
}
.about1 { grid-area: about1; animation:basic-drop .6s linear forwards;}
.about2 { grid-area: about2; animation:basic-drop 1s linear forwards;}
.about3 { grid-area: about3; animation:basic-drop 1.4s linear forwards;}
.about4 { grid-area: about4; animation:basic-drop .6s linear forwards;}
.about5 { grid-area: about5; animation:basic-drop 1s linear forwards;}
.about6 { grid-area: about6; animation:basic-drop 1.4s linear forwards}
.about-grid > * {
  width:auto;
  position:relative;
  text-align:center;
  /* left:50%; */
  /* transform:translateX(-25%) */
}
.about-icons{
  height:85px;
  width:85px;
  /* border:1px solid orange; */
  /* background-image:linear-gradient(to bottom right, #7464C4 , #BAB8EB 80%); */
  border-radius:99px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  margin-bottom:15px;
  overflow:hidden;
}
.about-1{
  background-image:linear-gradient(to bottom right, #7CB2DF, white 160%);
  box-shadow: 0px 0px 20px 1px #7CB2DF;
}
.about-1:hover{
  outline:1px solid #7CB2DF
}
.about-2{
  background-image:linear-gradient(to bottom right, #AD87DE, white 160%);
  box-shadow: 0px 0px 20px 1px #AD87DE;
}
.about-2:hover{
  outline:1px solid #AD87DE
}
.about-3{
  background-image:linear-gradient(to bottom right, #DE9992, white 160%);
  box-shadow: 0px 0px 20px 1px #DE9992;
}
.about-3:hover{
  outline:1px solid #DE9992
}
.about-4{
  background-image:linear-gradient(to bottom right, #DE9A66, white 160%);
  box-shadow: 0px 0px 20px 1px #DE9A66;
}
.about-4:hover{
  outline:1px solid #DE9A66
}
.about-5{
  background-image:linear-gradient(to bottom right, #DEDB68, white 160%);
  box-shadow: 0px 0px 20px 1px #DEDB68;
}
.about-5:hover{
  outline:1px solid #DEDB68
}
.about-6{
  background-image:linear-gradient(to bottom right, #71DEA2, white 160%);
  box-shadow: 0px 0px 20px 1px #71DEA2;
}
.about-6:hover{
  outline:1px solid #71DEA2
}

@media screen and (max-width: 940px){
  .about-exp{
    display:none;
  }
  .about-grid{
    height:60vh;
  }
}
@media screen and (max-width:550px){
  .about-grid{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "about1 about2"
    "about3 about4"
    "about5 about6"; 
  }
}
.about-icons > svg{
  width:45px;
  height:45px;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(101%) contrast(101%); */
  /* fill:white; */
}
.about-items{
  font-size:clamp(1.3rem, 3vw, 1.8rem);
  font-weight:200;
}
.about-exp{
  margin-top:5px;
  width:25ch;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  opacity:50%;
  line-height:1.75em;
}


/* 
SKILLS
*/
.skills{
  height:fit-content;
}
.skill-img{
  /* aspect-ratio:1/1; */
  height:60px;
  width:auto;
  position:relative;
  left:50%;
  transform:translateX(-50%)
}
.skill{
  min-height:65px;
  min-width:65px;
  max-width:65px;
}
.mongo > abbr > .skill-img{
  max-height:50px;
  max-width:70px;
  position:relative;
  top:50%;
  transform:translate(-50%, -50%)
}

.skills-grid{
  margin-top:7vh;
  height:fit-content;
  width:fit-content;
  position:relative;
  transform:translateX(-50%);
  left:50%;
}
.skills-grid1, .skills-grid2, .skills-grid3, .skills-grid4{
  display:grid;
  width:fit-content;
  margin-bottom:30px;
  position:relative;
  left: 50%;
  transform:translateX(-50%);
}
:is(.skills-grid1, .skills-grid2, .skills-grid3, .skills-grid4) > *{
  opacity:0%;
  position:relative;
  top:50%;
  left:50%;
  /* border: 2px solid orange; */
  border-radius:20%;
  width:fit-content;
  padding:10px;
  transform:translate(-100%,-50%);
  margin-left:2vw;
  margin-right:2vw;
  margin-bottom:4vh;
  background-color:white;
  /* box-shadow: 1px 2px; */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
:is(.skills-grid1, .skills-grid2, .skills-grid3, .skills-grid4) > *:hover{
  transform:translate(-100%, -52%);
}
.skills-grid1, .skills-grid3{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skills-grid2, .skills-grid4{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width:750px){
  .skills-grid1, .skills-grid3{
    grid-template-columns: 1fr 1fr; 
  }
  .skills-grid2, .skills-grid4{
    grid-template-columns:1fr 1fr
  }
  .skill{
    transform:translate(-75%, -50%)
  }
  .mongo, .postgres{
    transform:translate(0%, -50%)
  }
  .skill:hover{
    transform:translate(-75%, -52%)
  }
  :is(.mongo, .postgres):hover{
    transform:translate(0%, -52%)
  }
  .skills{
    height:160vh;
  }
  .project-tag{
    display:none;
  }
}




/* 
PROJECTS
*/
.projects{
  height:fit-content;
}
.project-items{
  width:fit-content;
  margin-top:4vh;
  position:relative;
  left:50%;
  transform:translateX(-50%)
}
.project{
  position:relative;
  overflow:hidden;
  width:60vw;
  display:grid;
  grid-template-columns:1fr 1fr;
  background-color:white;
  border-radius:10px;
  gap:10px;
  margin-bottom:5vh;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  opacity:0%;
  /* height:40vh; */
}
.project-img{
  width:30vw;
  height:auto;
  /* margin:10px; */
  /* border-radius:10px; */
}
.project-title{
  font-size:clamp(1rem, 4vw, 2rem)
}
.project-tag{
  font-size:clamp(0.5rem, 2.5vw, 1rem)
}
.proj-2{
  text-align:right;
}
.project-info{
  margin:10px;
  margin-left:15px;
}


.contact{
  height:30vh;
}

.footer{
  height:20vh;
}

.dot{
  height:7px;
  width:7px;
  border: 1px solid sandybrown;
  border-radius:10px;
  background:sandybrown;
  position:relative;
  left:50%;
  top:50%;
  transform:translateX(50%)
}

.drop{
  animation:basic-drop .8s linear forwards;

}
@keyframes basic-drop{
  from{
    opacity:0%;
    top:-7%;
  }
  to{
    opacity:100%;
    top:0%;
  }
}
@keyframes skill-drop{
  from{
    opacity:0%;
    top:35%;
  }
  to{
    opacity:100%;
    top:50%;
  }
}

.drop1{
  animation:skill-drop .4s linear forwards;
}
.drop2{
  animation:skill-drop .6s linear forwards;
}
.drop3{
  animation:skill-drop .8s linear forwards;
}
.drop4{
  animation:skill-drop 1.2s linear forwards;
}
.drop5{
  animation:skill-drop 1.6s linear forwards;
}
