*{
  border:1px solid slateblue;
  margin:0;
}
.body{
  height:auto;
  
}
nav{
  max-height:5vh;
  position:sticky;
  top:0;
  z-index: 1;
  background-color:white;
  /* overflow:hidden; */
  /* display:inline-flex; */
}
.page-controls{
  outline:2px solid crimson;

  width:auto;
  /* height:5vh; */
  position:relative;
  right:50%;
  z-index:2;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
li{
  width:fit-content;
  float:left;
}
.nav-controls{
  position:relative;
  left:80vw;
}


.header-content{
  height:50vh
}
canvas{
  height:100%;
  width:90vw;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
canvas:hover{
  cursor:grab;
}
canvas:active{
  cursor:grabbing;
}


.about{
  height:50vh;
}
.projects{
  height:60vh;
}
.skills{
  height:30vh;
}
.contact{
  height:30vh;
}

.footer{
  height:20vh;
}