@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700;900&display=swap');

/* https://color.adobe.com/create/color-wheel */
:root{
  --theme-one:slateblue;
}


*{
  /* border:1px solid slateblue; */
  margin:0;
  font-family: 'Kumbh Sans', sans-serif;
}
html{
  overflow-x: hidden;
  font-size:1rem;
  scroll-behavior: smooth;
}

.go-up{
  position:fixed;
  top:85%;
  left:85vw;
  border:3px solid slateblue;
  background-color:slateblue;
  opacity: 95%;
  border-radius:50%;
  padding-right:12px;
  padding-left:12px;
  /* padding-top:5px; */
  /* font-size:2rem; */
  user-select:none;
  color:white;
  cursor:pointer;
  width:52px;
  height:52px;
}
.go-up:hover{
  opacity:85%;
}
.go-up:active{
  opacity:95%;
}

.body{
  height:auto;
}
nav{
  height:5vh;
  position:sticky;
  top:0;
  z-index: 999;
  background-color:white;
  /* outline:1px solid slateblue; */
  border-bottom-left-radius:40px 10%;
  border-bottom-right-radius:40px 10%;
  /* overflow:hidden; */
  /* display:inline-flex; */
}
.page-controls{
  outline:2px solid crimson;

  width:auto;
  /* height:5vh; */
  position:relative;
  right:50%;
  z-index:2;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  /* overflow:hidden; */
}
li{
  width:fit-content;
  float:left;
}

.nav-controls{
  position:relative;
  left:60vw;
}
.nav-butt{
  position:relative;
  top:50%;
  transform:translateY(50%);
  background:none;
  border:none;
  margin-left:2vw;
  font-size:1rem;
  /* text-decoration:underline; */
}
.nav-butt:hover{
  cursor:pointer;
  transform:translateY(45%);
  opacity:70%;
}
.nav-butt:active{
  transform:translateY(50%)
}
.nav-butt::before{
  content: '';
  position: absolute;
  width:100%;
  height:5px;
  border-radius:4px;
  background-color:#84c2ff;
  bottom: 0;
  left: 0; 
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;
}
/* .nav-butt:hover::before { */
.selected:before{
  transform-origin: left;
  transform: scaleX(1);
}

.header-content{
  height:50vh
}
.header-container{
  position:absolute;
  z-index:2;
  width:20vw;
  /* top:20%; */
  top:15%;
  left:10%;
  animation:header-drop .65s linear forwards;
}
@keyframes header-drop{
  from{
    opacity:0%;
    top:15%;
  }
  to{
    opacity:100%;
    top:20%;
  }
}

.header-name{
  font-size:clamp(2rem, 7vw, 3rem);
  position:relative;
  /* top:20%; */
  /* left:10%; */
}
.header-tag{
  /* top:35%; */
  /* left:10%; */
  font-size:clamp(0.6rem, 3vw, 1.2rem);
}


canvas{
  height:100%;
  width:90vw;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border: 3px solid var(--theme-one);
  border-radius:80px;
  /* border-bottom-left-radius:300px 1000%; */
  /* border-bottom-right-radius:300px 1000%; */
}
canvas:hover{
  cursor:grab;
}
canvas:active{
  cursor:grabbing;
}


.about{
  /* height:50vh; */
  height:auto;
  margin-top:5vh;
  /* margin-bottom:5vh; */
  outline:1px solid pink
}
.about-me{
  position:relative;
  /* outline: 3px solid red; */
  /* height:80%; */
  height:fit-content;
  width:90%;
  left:50%;
  transform:translateX(-50%);
  overflow:hidden;
  padding-bottom:30px;
  padding-top:30px;
  /* margin-bottom:5vh; */
}

.projects{
  height:60vh;
}
.skills{
  height:30vh;
}
.contact{
  height:30vh;
}

.footer{
  height:20vh;
}

.dot{
  height:7px;
  width:7px;
  border: 1px solid sandybrown;
  border-radius:10px;
  background:sandybrown;
  position:relative;
  left:50%;
  top:50%;
  transform:translateX(50%)
}